@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;;
}

:root {
  --primary: #9D0208;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --salveMaria: #D00000;
  --leigos: #f15757;
  --backEnd: #495057;
  --cristoRei: #6A040F;
  --santoTomas: #FAA307;
  --santos: #FFBA08;
  
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
} 

p::selection, h1::selection, h2::selection, h3::selection, div::selection, a::selection{

  background-color: var(--primary);
  color: var(--white);
  
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}